<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home / 家</a></li>
		        	<!--<li><a href="/about">About</a></li>-->
	        		<li><a href="/blog">writing / 作文</a></li>
						<!--	<li><a href="/playlists">playlists/プレイリスト</a></li>-->
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!--<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>-->
	        		<li>precision + 速度</li>
							<li>owenfernau@protonmail.com/<li>
				</ul>
			</footer>
		</body>
	</html>
